.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: grey;
    cursor: pointer;
}

.headerOption {
    font-size: 12px;
}

.headerOption_icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOption:hover {
    color: black;
}

.headerOption_title {
    font-weight: 600;
    font-size: 13px;
}